@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container {
  @apply max-w-screen-2xl min-w-[340] mx-auto px-2 md:px-3 lg:px-8;
}

.my-my {
  @apply my-4 md:my-6 lg:my-8;
}
.my-py {
  @apply py-4 md:py-6 lg:py-8;
}

.my-p {
  @apply p-4 md:p-6 lg:p-8;
}

.my-bg-trans {
  @apply bg-white/75 dark:bg-slate-900/75;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
